<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Pop2.Preventivi.My.MySettings.imp_est" connectionString="Driver={MySQL ODBC 5.3 Unicode Driver};server=pulizieuffici.biz;uid=pegaso;database=cesar;port=3307;pwd=Ilmitodelpulito1!;Charset=utf8;" providerName=""/>
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
</configuration>
